.p-panel {
    background-color: transparent !important;
    border: none !important; /* Remove unwanted borders */
    box-shadow: none !important; /* Remove shadow */
}

.p-panel .p-panel-content {
    background-color: transparent !important;
}
