.body{
    display: grid;
    grid-template-areas:
    "setting setting"
    "avatar status"
    "scenario scenario"
    "choice choice";
    grid-template-columns: 50% 50%;
    gap: 5px;
    background-color: #2196F3;
}

img{
    grid-area: avatar;
}

.choices{
    grid-area: choice;
}



.statusbar {
    grid-area: status;
  }
  
.preface {
    grid-area: setting;
  }

.scenario {
    grid-area: scenario;}