.body{
    display: grid;
    grid-template-areas:
    "setting avatar status"
    "scenario scenario scenario"
    "choice choice choice";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color: #2196F3;
}

img{
    grid-area: avatar;
}


.statusbar {
    grid-area: status;
  }

  .scenario {
    grid-area: scenario;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
    margin: 5px;
}


.choices{
    grid-area: choice;
    display: flex;
    justify-content: center;
    padding:20px;
    gap: 20px;
}
